<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>I.E.P ATENEO</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <header>

        <nav class="top-bar">
            <ul>
                <li><a href="/loader?seccion=apoderado">  <i class="fa fa-user" ></i> Apoderado</a></li>
                <li><a href="/loader?seccion=login">  <i class="fa fa-wrench" ></i> Soporte</a></li>
            </ul>
            <a href="https://wa.me/51910603922" target="_blank" class="whatsapp-link">
                <i class="fa fa-whatsapp" style="font-size:30px; color:white"></i>
            </a>
        </nav>
    
    
 
        <nav class="main-nav">
            <div class="logo">
                <img src="http://localhost:8080/imagenes/logo%20orange.png" alt="I.E.P Ateneo">
            </div>
            <ul class="nav-links">
                <li><a href="#inicio">Inicio</a></li>
                <li><a href="#nosotros">Nosotros</a></li>
                <li><a href="#contacto">Contacto</a></li>
            </ul>
            <div class="admission">
                <a href="/loader?seccion=solicitud">Matrícula en línea 2025</a>
            </div>
        </nav>
    </header>

    
    <section class="hero">
        <div class="hero-left">
            <!-- Contenido normal en la mitad izquierda -->
            <h1>Potencia la <strong>educación</strong> de tus<br> hijos con nuestra <strong>Educación</strong><br> 360°</h1>
            <div class="btnhero">
                <a href="https://wa.me/51910603922">Solicita información</a>
            </div>

        </div>
        <div class="hero-right">
            <div class="hero-right-top">
                <!-- Imagen ocupando toda la mitad derecha -->
                <img src="http://localhost:8080/imagenes/portada4.jpg" alt="portada">
            </div>
        </div>
    </section>


    <div class="social-bar">
        <a href="https://www.facebook.com/colegioateneohuaycan" target="_blank" class="social-icon facebook">
            <i class="fa fa-facebook"></i>
        </a>
        <a href="https://www.messenger.com/t/100045355153191" target="_blank" class="social-icon messenger">
            <i class="fa fa-comment"></i>
        </a>
        <a href="https://wa.me/51910603922" target="_blank" class="social-icon whatsapp">
            <i class="fa fa-whatsapp"></i>
        </a>
    </div>
    


    <section id="inicio">
        <img src="http://localhost:8080/imagenes/saludo.png" alt="saludo" class="greeting-image"> <!-- Añadido clase para estilo -->   
        <div class="cont_bienv">     
            <h1 class="titulo">Bienvenidos a la I.E.P. Ateneo</h1>           
            <p class="subtitle">Formando el futuro con excelencia educativa</p>
            <div class="line"></div>
            <p class="description">
                En la I.E.P. Ateneo, nos enorgullecemos de ofrecer una educación integral que promueve el crecimiento académico y personal de nuestros estudiantes. Con un equipo de docentes altamente calificados y un ambiente de aprendizaje acogedor, nos comprometemos a brindar una formación de calidad que prepare a nuestros alumnos para los desafíos del futuro.
            </p>
            <p class="description">
                Desde los niveles inicial, primario y secundario, acompañamos a cada estudiante en su camino hacia el éxito, fomentando valores, creatividad y pensamiento crítico.
            </p>
        </div>


        <div class="nivel">
            <h2 class="titulo">Niveles educativos</h2>
            <div class="cont_nivel">
                <div class="nivel-card nivel-card-inicial">
                    <div class="card-content">
                        <img src="http://localhost:8080/imagenes/inicial.jpg" alt="portada" class="nivel-img">
                        <h3>Inicial</h3>
                        <p>Primeros pasos hacia el desarrollo integral del niño.</p>
                    </div>
                </div>
                <div class="nivel-card nivel-card-primaria">
                    <div class="card-content">
                        <img src="http://localhost:8080/imagenes/primaria.jpg" alt="portada" class="nivel-img">
                        <h3>Primaria</h3>
                        <p>Consolidamos conocimientos fundamentales para el crecimiento académico.</p>
                    </div>
                </div>
                <div class="nivel-card nivel-card-secundaria">
                    <div class="card-content">
                        <img src="http://localhost:8080/imagenes/secundaria.jpg" alt="portada" class="nivel-img">
                        <h3>Secundaria</h3>
                        <p>Preparamos a los estudiantes para enfrentar los desafíos de la educación superior y la vida profesional.</p>
                    </div>
                </div>
            </div>
        </div>
        
        
        
    </section>
    
    


    <section id="nosotros">
        <h2 class="titulo">Logros y Reconocimientos</h2>
        <div class="cont_nosotros">
            <div class="nosotros-card">
                <img src="http://localhost:8080/imagenes/logro1.jpg" alt="Logro 1">
            </div>
            <div class="nosotros-card">
                <img src="http://localhost:8080/imagenes/logro2.jpg" alt="Logro 2">
            </div>
            <div class="nosotros-card">
                <img src="http://localhost:8080/imagenes/logro3.jpg" alt="Logro 3">
            </div>
            <div class="nosotros-card">
                <img src="http://localhost:8080/imagenes/logro4.jpg" alt="Logro 4">
            </div>
            <div class="nosotros-card">
                <img src="http://localhost:8080/imagenes/logro5.png" alt="Logro 5">
            </div>
            <div class="nosotros-card">
                <img src="http://localhost:8080/imagenes/logro6.jpg" alt="Logro 6">
            </div>
            <div class="nosotros-card">
                <img src="http://localhost:8080/imagenes/logro7.jpg" alt="Logro 7">
            </div>
            <div class="nosotros-card">
                <img src="http://localhost:8080/imagenes/logro8.png" alt="Logro 8">
            </div>
            <div class="nosotros-card">
                <img src="http://localhost:8080/imagenes/logro9.jpg" alt="Logro 9">
            </div>
            <div class="nosotros-card">
                <img src="http://localhost:8080/imagenes/logro10.jpg" alt="Logro 10">
            </div>
        </div>
    </section>
    



    <section id="contacto">
        <h2 class="titulo">Contáctanos</h2>
        <div class="contact-icons">
            <div class="icon-item icon-red">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>AV. 15 de Julio UCV 106, Zona "G" Huaycán, Lima</span>
            </div>
            <div class="icon-item icon-blue">
                <i class="fa fa-mobile" aria-hidden="true"></i>
                <span>910603922</span>
            </div>
            <div class="icon-item icon-yellow">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>contacto@ateneo.edu.pe</span>
            </div>
        </div>
    
        <div class="map">
            <iframe 
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3902.3153953230526!2d-76.8270760251233!3d-12.021794388213069!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105e95d8770c361%3A0x8e886e0f2e1864f!2sIEP.%20ATENEO!5e0!3m2!1ses!2sus!4v1727513876618!5m2!1ses!2sus"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>
    </section>
    
    
    
    

    

    <footer>
        <div class="footer-container">
    
            <div class="footer-column">
                <div class="logo">
                    <img src="http://localhost:8080/imagenes/logo.png" alt="I.E.P Ateneo" >
                </div>
              
                <a href="#">AV. 15 de Julio UCV 106.Zona "G"</a>
                <p>Huaycán, Lima, Perú</p>
            </div>
    
            <div class="footer-column">
                <h2>Conócenos</h2>
                <a href="#">Acerca de nosotros</a>
                <a href="#">Preguntas frecuentes</a>
                <a href="#">Términos y condiciones</a>
                <a href="#">Política de privacidad</a>
            </div>
    
            <div class="footer-column">
                <h2>Explora</h2>
                <a href="#">Explora I.E.P.Ateneo</a>
                <a href="#">Blog</a>
            </div>
    
            <div class="footer-column">
                <h2>Horario</h2>
                <p>Lunes a Viernes</p>
                <p>8:00 a.m. - 3:30 p.m.</p>
    
            </div>
        </div>
    </footer>
    <div class="derechos">
        <div class="derechos-container">
    
            <div class="derechos-column">
                <p>&copy; 2025 I.E.P Ateneo. Todos los derechos reservados.</p>
            </div>

            
        </div>
    </div>
    
    


</body>
</html>