<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Sección A</title>
    <link rel="stylesheet" href="seccionesSoporte.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <section id="inicio">
        <div class="bienvenido">
            <h2 class="titulo1">Bienvenido ADMINISTRADOR!</h2>
            <hr style="margin-top: 20px; margin-bottom: 40px; border-color: silver; border-top: 1px solid #eee;">
        </div>
    </section>
</body>
</html>
