<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="seccionesApoderado.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <!-- Sección Inicio -->
    <section id="inicio">
        <div class="bienvenido">                     
            <h2 class="titulo">Bienvenido <span th:text="${session.nombresAlumno}"></span>!</h2>                                                      
            <hr style="margin-top: 20px; margin-bottom: 40px; border-color: silver; border-top: 1px solid #eee;">
        </div>
    </section>
</body>
</html>
