<!DOCTYPE html>
<html>
    <head>
        <title>Reportes</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="seccionesSoporte.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <section id="reporte">
            <div class="container">
                
                <div class="table-container">
                    <h1 class="titulo">
                        <i class="fa fa-file" style="font-size:20px;margin-right: 10px;"></i> Reporte Solicitud
                    </h1>
                    <hr style="border: 1px solid #f4f4f4;">
                    <div class="search-container">
                        <div>
                            <button onclick="window.location.href='api/reports/solicitudes-inicial'" class="reporte-btn"><i class="fa fa-file" style="color:white;margin-right: 10px;"></i>Inicial</button>
                            <button onclick="window.location.href='api/reports/solicitudes-primaria'" class="reporte-btn"><i class="fa fa-file" style="color:white;margin-right: 10px;"></i>Primaria</button>
                            <button onclick="window.location.href='api/reports/solicitudes-secundaria'" class="reporte-btn"><i class="fa fa-file" style="color:white;margin-right: 10px;"></i>Secundaria</button>
                        </div>
                        
                    </div>
                </div>
                
                <div class="table-container">
                    <h1 class="titulo">
                        <i class="fa fa-file" style="font-size:20px;margin-right: 10px;"></i> Reporte Pago
                    </h1>
                    <hr style="border: 1px solid #f4f4f4;">
                    <div class="search-container">
                        <div>
                            <button onclick="window.location.href='api/reports/pagos-inicial'" class="reporte-btn"><i class="fa fa-file" style="color:white;margin-right: 10px;"></i>Inicial</button>
                            <button onclick="window.location.href='api/reports/pagos-primaria'" class="reporte-btn"><i class="fa fa-file" style="color:white;margin-right: 10px;"></i>Primaria</button>
                            <button onclick="window.location.href='api/reports/pagos-secundaria'" class="reporte-btn"><i class="fa fa-file" style="color:white;margin-right: 10px;"></i>Secundaria</button>
                        </div>
                        
                    </div>
                </div>
                
                <div class="table-container">
                    <h1 class="titulo">
                        <i class="fa fa-file" style="font-size:20px;margin-right: 10px;"></i> Reporte Matrícula
                    </h1>
                    <hr style="border: 1px solid #f4f4f4;">
                    <div class="search-container">
                        <div>
                            <button onclick="window.location.href='api/reports/matriculas-inicial'" class="reporte-btn"><i class="fa fa-file" style="color:white;margin-right: 10px;"></i>Inicial</button>
                            <button onclick="window.location.href='api/reports/matriculas-primaria'" class="reporte-btn"><i class="fa fa-file" style="color:white;margin-right: 10px;"></i>Primaria</button>
                            <button onclick="window.location.href='api/reports/matriculas-secundaria'" class="reporte-btn"><i class="fa fa-file" style="color:white;margin-right: 10px;"></i>Secundaria</button>
                        </div>
                        
                    </div>
                </div>
                    
            </div>
        </section>
    </body>
</html>
