/*ENCABEZADO*/


header {
    background-image: url('https://th.bing.com/th/id/OIP.NllQBmZgbbo4Nz2e6rjz4AHaHa?rs=1&pid=ImgDetMain'); 
    background-size: cover;
    background-position: center;
    color: #32974b;
    padding: 10px;
    text-align: center;
    width: 100%; /* Ancho del 100% de la ventana */
    position: fixed; /* Fija el encabezado en la parte superior de la ventana */
    top: 0; /* Coloca el encabezado en la parte superior */
    z-index: 999; /* Asegura que el encabezado esté encima de otros elementos */
    height: 120px; /* Aumenta la altura del encabezado */
    display: flex; /* Usa flexbox para alinear verticalmente el contenido */
    justify-content: space-between; /* Distribuye los elementos horizontalmente con el máximo espacio entre ellos */
    align-items: center; /* Alinea verticalmente el contenido en el centro */
}

.logo {
    flex: 5; /* El logo ocupará una cuarta parte del encabezado */
    width: 200px; /* Ajusta el ancho del contenedor del logo */
    height: 100%; /* Altura automática para mantener la proporción de la imagen */
}

.search-bar {
    flex: 10; /* Haciendo que el elemento search-bar ocupe más espacio */
   
}

.search-bar input[type="text"] {
    border: 2px solid transparent; /* Establecer el color del borde como transparente */
    border-radius: 20px; 
    background-color: #e9e8ee;
    width: 80%; /* Hacer que la caja de texto ocupe el 80% del espacio disponible */
    height: 30px; /* Ajustar la altura del campo de texto */
}

.search-bar button{
    border: 2px solid transparent; /* Establecer el color del borde como transparente */
    border-radius: 20px; 
    background-color: #379754;
    height: 30px; /* Ajustar la altura del campo de texto */
}

.user,
.cart {
    flex: 2; /* Los elementos restantes se dividirán en partes iguales */
}

.logo img {
    width: 100%; /* La imagen del logo ocupará todo el espacio del contenedor */
    height: 100%; /* Altura automática para mantener la proporción de la imagen */
}

.user img,
.cart img {
    width: 50px; /* Modifica el ancho de la imagen del usuario y del carrito */
    height: auto; /* Altura automática para mantener la proporción de la imagen */
}

.dropdown-content h3 {
    color:#379754;
 
    }
    .dropdown-content p {
        color: black;
     
        }
   
     
#InicarSesion{
    background-color: #adf9bb;
    color:#379754;
}

#InicarSesion a{
    color:white;
    width: 100px; 
    background-color: #379754;
    border-radius: 20px; 
    text-decoration: none; /* Elimina el subrayado de los enlaces */
}
#CrearCuenta a{
    color:#379754;
    width: 100px; 
    background-color: white;
    border-radius: 20px; 
    border: 2px solid #379754;
}

#CrearCuenta a:hover {
color:white;
background-color:   #32974b;
}

.user .dropdown-content {
    display: none;
    position: right;
    background-color: white;
    width: 500px; /* Modifica el ancho de la ventana desplegable */
    height: 200px; /* Modifica el alto de la ventana desplegable */

    
    transform: translateX(-50%); 
}
.user:hover .dropdown-content {
    display: flex; 
   
}

/****************/


/******nav*****/



#Horizontal {
    background-image: url('https://th.bing.com/th/id/OIP.7mpW6vgxuuzK1tKPpSM7BAHaEK?rs=1&pid=ImgDetMain://wallpapers.com/images/hd/3440x1440p-tennis-background-3440-x-1440-aihbk3suoipnns8y.jpg'); /* Cambia 'ruta/de/tu/imagen.jpg' por la ruta de tu imagen */
    background-size: cover;
    background-position: center;
    
    padding: 10px;
    text-align: center;
    width: 100%;
    position: fixed; /* Fija la barra de navegación en la parte superior de la ventana */
    top: 140px; /* Aumenta la distancia desde la parte superior para dejar espacio para el encabezado */
   
   
    display: flex; /* Usando flexbox */
    flex-wrap: wrap; /* Envolver las columnas si no caben en una sola fila */
    justify-content: space-between; /* Espaciado uniforme entre las columnas */
    
 
}
.enlaces a {
    font: bold 18px Arial, sans-serif;
    color: white;
    text-decoration: none; /* Elimina el subrayado de los enlaces */
}

.enlaces {
    width: 20%; /* Ajustar el ancho para que tres columnas se ajusten con el espacio entre ellas */
    text-align: center;
    border: 2px solid transparent; /* Establecer el color del borde como transparente */
    border-radius: 20px; 
    transition: box-shadow 0.3s; /* Transición suave de la sombra */
    margin: 0 auto; /* Centrar los enlaces */
}

.enlaces:hover {
    background-color:   #32974b;
}

.dropdown {
    width: 20%; /* Ajustar el ancho para que tres columnas se ajusten con el espacio entre ellas */
    text-align: center;
    border: 2px solid transparent; /* Establecer el color del borde como transparente */
    border-radius: 20px; 
    transition: box-shadow 0.3s; /* Transición suave de la sombra */
    margin: 0 auto; /* Centrar los enlaces */
    }
.dropdown a{
    font: bold 18px Arial, sans-serif;
    color: white;
    text-decoration: none; /* Elimina el subrayado de los enlaces */
}
.dropdown:hover {
    background-color:   #32974b;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 20px; 
    }

   .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    }
    .dropdown:hover .dropdown-content {
    display: block;
    }

    .dropdown-content a:hover {
        background-color: #ddd;
    }

/*****************************************/


#Titulo {
    width: 99%;
    text-align: center;
    background-image: url( 'https://cartaral.com/wp-content/uploads/2021/05/RAL-5026-Azul-noche-perlado.gif') ;
    font: bold 26px Verdana, sans-serif;
    color: white;
    background-size: cover;
    background-position: center;
    padding: 10px;
    border-radius: 20px; 

}


/************************************/


.container {
    display: flex;
}

#lateral {
    width: 20%;
}

#Tenis {
    width: 80%;
}

#lateral {
    background-color: #e9e8ee;
    font: bold 18px Arial, sans-serif;
    color: black;
    text-align: center;
    border-right: 2px solid gray; /* Agregar borde negro al lado derecho */
}


/* Estilos para los enlaces dentro del contenido del menú d*/
.categoria a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

/* Estilos para los enlaces dentro del contenido del menú desplegable cuando se pasa el cursor sobre ellos */
.categoria a:hover {
    text-decoration: underline; /* Agrega un subrayado cuando se pasa el cursor sobre los enlaces */
}


.marca{
    color: black;
    padding: 12px 16px;
    text-align: center;
   
}


#Tenis {
    width: 96%;
    padding: 2%;
    background-color:  #e9e8ee;
    display: flex; /* Usando flexbox */
    flex-wrap: wrap; /* Envolver las columnas si no caben en una sola fila */
    justify-content: space-between; /* Espaciado uniforme entre las columnas */
}



.columna {
    width: 23%;
    text-align: center;
    background-color: white;
    margin-bottom: 20px;
    border: 2px solid transparent; /* Borde transparente */
    border-radius: 20px; 
    transition: box-shadow 0.3s, border-color 0.3s; /* Añade la transición del color del borde */
}

.columna:hover {
    border-color: black; /* Cambia el color del borde al pasar el cursor */
}

#Producto {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 10px auto;
}

.marca {
    color: black;
    
}

.titulo {
    color: #6d776fc5;
}

.precio {
    color: red;
}
span{
    color:  #6d776fc5;
}

.añadir-carrito {
    color: white;
    background-color: #61ee57;
    border-radius: 20px; 

    padding: 10px;
    display: inline-block; 
   
}
.icono-carrito {
    width: 30px; /* Ancho del icono */
    height: 30px; /* Altura del icono */
    vertical-align: middle; /* Alineación vertical */
}

.añadir-carrito:hover {
    background-color: #32974b;
    border-radius: 20px; 
}




/*PIED DE PAGINA*/

.footer {
    background-color: #2A3756;
    color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: space-around;
}

.footer-content {
    display: flex;
justify-content: center;
flex-wrap: wrap;
text-align: center;
max-width: 1200px;
margin: 0 auto;
}

.footer-section {
flex: 1;
padding: 10px;
box-sizing: border-box;
min-width: 250px;
}

/****************************/



/*********SSESION**********/
#contenido {
    width: 99%;
    text-align: center;
    background-color:white;
    font: bold 26px Verdana, sans-serif;
    color: #379754;
    background-size: cover;
    background-position: center;
    padding: 10px;
    border-radius: 20px; 

}


.container1{
    display: flex; /* Utiliza flexbox para colocar los elementos uno al lado del otro */
}

#InicarSesion, #CrearCuenta {
    flex: 1; /* Hace que ambas secciones tengan el mismo ancho */
    margin-right: 20px; /* Agrega un margen entre las secciones */
}


.caja {
    width: 550px;
    height: 40px;
    padding: 10px; /* Agregamos un poco de espacio alrededor del texto */
    font-size: 16px; /* Tamaño de fuente */
}
.caja::placeholder {
    color: gray; /* Color del texto de marcador de posición */
}

.caja:placeholder-shown::placeholder {
    color: black; /* Color del texto de marcador de posición cuando está visible */
}


#Olvi{
    font-size: 16px; /* Tamaño de fuente */
    color: white;
}
#Expe{
    font-size: 16px; /* Tamaño de fuente */
    color: black;
}
#CrearCuenta a{
    text-decoration: none; /* Elimina el subrayado de los enlaces */
}



/****************/

#Titulo1 {
    width: 99%;
    text-align: center;
    background-color:#379754; ;
    font: bold 26px Verdana, sans-serif;
    color: white;
    background-size: cover;
    background-position: center;
    padding: 10px;
    border-radius: 20px; 

}

#Titulo1 p {
    font-size: 16px; /* Tamaño de fuente */
    color:  white;

}

#contenido1{
    width: 99%;
    background-color: #e9e8ee;
    font: bold 26px Verdana, sans-serif;
    color: #379754;
    background-size: cover;
    background-position: center;
    padding: 10px;
    

}

#OvContra{
 
    background-color: white;
    max-width: 600px; /* Ancho máximo del contenido */
    margin: auto; /* Margen automático para centrar */  
    padding: 20px;
   
}

#OvContra h3{
   
    color: black;
}
#OvContra p{
    font-size: 16px; /* Tamaño de fuente */
    color: black;
    
}


.bot a{
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    color:#379754;
    width: 100px; 
    background-color: white;
    border-radius: 20px; 
    border: 2px solid #379754;
    margin-right: 50px; 
}

.bot a:hover {
color:white;
background-color:   #32974b;
}


.contenido-horizontal {
    width: 400px;
    font-size: 16px; /* Tamaño de fuente */
    background-color:  #F9F9F9;
    display: flex;
    align-items: center; /* Alinear elementos verticalmente */
    color:black;
     
}
.contenido-horizontal img {
    width: 100px;
    height: 80px;
}
#robot-checkbox{
    width: 60px;
    height: 30px;
}

#logo{
    width: 300px;
    height: 150px;
    
}

.image-container {
    display: flex;
     justify-content: center;
    align-items: center;
}

.image-container img {
    width: 50px;
    height: 50px;
    margin-right: 20px; /* Espacio entre las imágenes */
    
}






